syntax: glob

.DS_Store
*.pyc
*.o
*.suo
*.ncb
*.user
*.xcodeproj/*.mode1v*
*.xcodeproj/*.pbxuser
*.xcodeproj/TemplateIcon.icns
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcworkspace/xcuserdata/*.xcuserdatad
*.xcworkspace/xcuserdata/*.xcuserdatad
../Tools/BuildScripts/build_cache/swigout.txt
../Published
../ipch
../*.sdf
../*.opensdf
../Angel/Debug
../Angel/Release
../Angel/docs
../Angel/libangel.a
../Angel/Libraries/angel-lua-build/liblua.a
../Angel/Libraries/angel-lua-build/lua
../Angel/Libraries/Box2D-2.2.1/Build/glui
../Angel/Libraries/Box2D-2.2.1/Build/CMakeCache.txt
../Angel/Libraries/Box2D-2.2.1/Build/CMakeFiles
../Angel/Libraries/Box2D-2.2.1/Build/cmake_install.cmake
../Angel/Libraries/Box2D-2.2.1/Build/Testbed
../Angel/Libraries/Box2D-2.2.1/Build/HelloWorld
../Angel/Libraries/Box2D-2.2.1/Build/Makefile
../Angel/Libraries/Box2D-2.2.1/Build/freeglut
../Angel/Libraries/Box2D-2.2.1/Build/Box2D
../Angel/Libraries/Box2D-2.2.1/Build/vs2010/Debug
../Angel/Libraries/Box2D-2.2.1/Build/vs2010/Release
../Angel/Libraries/freetype-2.4.8/config.mk
../Angel/Libraries/freetype-2.4.8/builds/unix/unix-def.mk
../Angel/Libraries/freetype-2.4.8/builds/unix/config.log
../Angel/Libraries/freetype-2.4.8/builds/unix/unix-cc.mk
../Angel/Libraries/freetype-2.4.8/builds/unix/ftconfig.h
../Angel/Libraries/freetype-2.4.8/builds/unix/freetype-config
../Angel/Libraries/freetype-2.4.8/builds/unix/config.status
../Angel/Libraries/freetype-2.4.8/builds/unix/libtool
../Angel/Libraries/freetype-2.4.8/builds/unix/freetype2.pc
../Angel/Libraries/freetype-2.4.8/objs/ftmodule.h
../Angel/Libraries/freetype-2.4.8/objs/debug
../Angel/Libraries/freetype-2.4.8/objs/release
../Angel/Libraries/freetype-2.4.8/objs/win32
../Angel/Libraries/freetype-2.4.8/objs/freetype248.lib
../Angel/Libraries/freetype-2.4.8/objs/freetype248_D.lib
../Angel/Libraries/FTGL/unix/config.log
../Angel/Libraries/FTGL/unix/config.status
../Angel/Libraries/FTGL/unix/ftgl.pc
../Angel/Libraries/FTGL/unix/Make.conf
../Angel/Libraries/FTGL/unix/libtool
../Angel/Libraries/FTGL/unix/demo/FTGLDemo
../Angel/Libraries/FTGL/unix/docs/doc-stamp
../Angel/Libraries/FTGL/unix/src/.libs/libftgl.a
../Angel/Libraries/FTGL/unix/src/.libs/libftgl.la
../Angel/Libraries/FTGL/unix/src/.libs/libftgl.lai
../Angel/Libraries/FTGL/unix/src/libftgl.la
../Angel/Libraries/FTGL/unix/src/*.lo
../Angel/Libraries/FTGL/win32_vcpp/build
../Angel/Libraries/FTGL/win32_vcpp/Build
../Angel/Libraries/FTGL/win32_vcpp/ftgl_static_lib/Debug_ST
../Angel/Libraries/FTGL/win32_vcpp/ftgl_static_lib/Release_ST
../Angel/Libraries/FTGL/win32_vcpp/ftgl_static_lib/Debug_MT
../Angel/Libraries/FTGL/win32_vcpp/ftgl_static_lib/Release_MT
../Angel/Libraries/glfw-3.0.3/Makefile
../Angel/Libraries/glfw-3.0.3/ALL_BUILD.vcxproj
../Angel/Libraries/glfw-3.0.3/ALL_BUILD.vcxproj.filters
../Angel/Libraries/glfw-3.0.3/cmake_install.cmake
../Angel/Libraries/glfw-3.0.3/cmake_uninstall.cmake
../Angel/Libraries/glfw-3.0.3/CMakeCache.txt
../Angel/Libraries/glfw-3.0.3/CMakeFiles
../Angel/Libraries/glfw-3.0.3/CMakeScripts
../Angel/Libraries/glfw-3.0.3/docs/cmake_install.cmake
../Angel/Libraries/glfw-3.0.3/docs/CMakeScripts
../Angel/Libraries/glfw-3.0.3/docs/Doxyfile
../Angel/Libraries/glfw-3.0.3/examples
../Angel/Libraries/glfw-3.0.3/GLFW.sdf
../Angel/Libraries/glfw-3.0.3/GLFW.sln
../Angel/Libraries/glfw-3.0.3/INSTALL.vcxproj
../Angel/Libraries/glfw-3.0.3/INSTALL.vcxproj.filters
../Angel/Libraries/glfw-3.0.3/src/Makefile
../Angel/Libraries/glfw-3.0.3/src/cmake_install.cmake
../Angel/Libraries/glfw-3.0.3/src/CMakeFiles
../Angel/Libraries/glfw-3.0.3/src/CMakeScripts
../Angel/Libraries/glfw-3.0.3/Debug
../Angel/Libraries/glfw-3.0.3/src/glfw.dir
../Angel/Libraries/glfw-3.0.3/src/glfw3.pc
../Angel/Libraries/glfw-3.0.3/src/glfwConfig.cmake
../Angel/Libraries/glfw-3.0.3/src/glfwConfigVersion.cmake
../Angel/Libraries/glfw-3.0.3/src/INSTALL.vcxproj
../Angel/Libraries/glfw-3.0.3/src/INSTALL.vcxproj.filters
../Angel/Libraries/glfw-3.0.3/src/libglfw3.a
../Angel/Libraries/glfw-3.0.3/Release
../Angel/Libraries/glfw-3.0.3/tests
../Angel/Libraries/glfw-3.0.3/uninstall.vcxproj
../Angel/Libraries/glfw-3.0.3/uninstall.vcxproj.filters
../Angel/Libraries/glfw-3.0.3/Win32
../Angel/Libraries/glfw-3.0.3/ZERO_CHECK.vcxproj
../Angel/Libraries/glfw-3.0.3/ZERO_CHECK.vcxproj.filters
../Angel/Libraries/gwen/lib/windows/vs2010
../Angel/Libraries/gwen/Projects/windows/vs2010/obj
../Angel/Libraries/gwen/Projects/linux/gmake/obj/Release
../Angel/Libraries/gwen/lib/linux/gmake/libgwen_static.a
../Angel/Libraries/HID Utilities/build
../Angel/Libraries/libogg-1.3.0/win32/VS2010/Win32
../Angel/Libraries/libvorbis-1.3.2/win32/VS2010/libvorbis/Win32
../Angel/Libraries/libvorbis-1.3.2/win32/VS2010/libvorbisfile/Win32
../Angel/Libraries/lua-5.2.1/src/*.o
../Angel/Libraries/lua-5.2.1/Debug
../Angel/Libraries/lua-5.2.1/DebugCompilerBuild
../Angel/Libraries/lua-5.2.1/DebugExeBuild
../Angel/Libraries/lua-5.2.1/DebugLibBuild
../Angel/Libraries/lua-5.2.1/Release
../Angel/Libraries/lua-5.2.1/ReleaseExeBuild
../Angel/Libraries/lua-5.2.1/ReleaseLibBuild
../Angel/Libraries/lua-libs/luafilesystem-1.5.0/src/*.o
../Angel/Scripting/Release
../Angel/Scripting/Debug
../Angel/Scripting/IntroGameDebug
../Angel/Scripting/IntroGameRelease
../Angel/Scripting/Interfaces/inheritance.i
../Angel/Scripting/Interfaces/inheritance_intro.i
../Angel/Scripting/Interfaces/AngelLuaWrapping.cpp
../Angel/Scripting/Interfaces/AngelLuaWrappingMobile.cpp
../Angel/Scripting/Interfaces/AngelLuaWrappingIntroGame.cpp
../Angel/Scripting/Interfaces/AngelLuaWrappingMobileIntroGame.cpp
../Angel/Win/WindowsAngelKicker/angel.ico
../Angel/Win/WindowsAngelKicker/angel_small.ico
../Angel/Win/WindowsAngelKicker/Debug
../Angel/Win/WindowsAngelKicker/Release
../Angel/Win/WindowsAngelKicker/WindowsAngelKicker.cpp
../Angel/Win/WindowsAngelKicker/WindowsAngelKicker.ncb
../Angel/Win/WindowsAngelKicker/WindowsAngelKicker.sln.cache
Debug/
Release/
FreeImage.dll
Published/
fmodex.dll
fmodexL.dll
fmodexp.dll
ClientGame
DevIL.dll
ILU.dll
ILUT.dll
OpenAL32.dll
Logs/*.log
Resources/Scripts/start.lua
Resources/Scripts/sugar.lua
Resources/Scripts/conf_load.lua
Resources/Scripts/util.lua
Resources/Scripts/autocomplete.lua
Resources/Scripts/pref_load.lua
ILU.dll
platforms/
build.lua
Resources/
*.orig
Makefile_output
ClientGame.xcodeproj/
ClientGame.vcxproj.filters
ClientGame.vcxproj
ClientGame-iOS.xcodeproj/
.gdbtkinit
../IntroGame/Debug
../IntroGame/Release
../IntroGame/FreeImage.dll
../IntroGame/Published
../IntroGame/fmodex.dll
../IntroGame/fmodexL.dll
../IntroGame/fmodexp.dll
../IntroGame/IntroGame
../IntroGame/DevIL.dll
../IntroGame/ILU.dll
../IntroGame/ILUT.dll
../IntroGame/alut.dll
../IntroGame/OpenAL32.dll
../IntroGame/Resources/Scripts/start.lua
../IntroGame/Resources/Scripts/sugar.lua
../IntroGame/Resources/Scripts/conf_load.lua
../IntroGame/Resources/Scripts/util.lua
../IntroGame/Resources/Scripts/autocomplete.lua
../IntroGame/Resources/Scripts/pref_load.lua
